$images: "~static/images";
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default-font: 'Noto Sans KR', 'Nanum Square', 'Malgun Gothic', '맑은고딕', '돋움', 'Dotum', 'Helvetica', 'Apple SD Gothic Neo', Sans-serif;
$basic:#1a1a1a;
$basic-light:#6e6e6e;
$main-color:#7bcc12;
$hover:#81b926;
$category:#619f10;
$category-light:#f1f1f1;
$light-gray:#eee;